body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container{display: flex;height:300px;background-color: #ccc;gap: 2px;}
.container div{background-color: #fff; width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: 0 auto; /* Magic!  */
   justify-content: center;align-items: center;display: flex;
}

.parent {
  display: flex;
  height: 300px; /* Or whatever */
}


